aiohttp
aiosignal
altair
appnope
asttokens
async-timeout
attrs
autopep8
backcall
backports.functools-lru-cache
blinker
Bottleneck
brotlipy==0.7.0

cachetools
certifi==2023.7.22

cffi
charset-normalizer
click
colorama
comm
contourpy
cryptography
cycler
datasets
debugpy
decorator
dill
et-xmlfile==1.1.0

exceptiongroup
executing
filelock
fonttools==4.25.0

frozenlist
fsspec
gitdb
GitPython
gmpy2
huggingface-hub
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter_client
jupyter_core
jupyterlab-widgets
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mkl-fft==1.3.6

mkl-random
mkl-service==2.4.0

mpmath
multidict
multiprocess
munkres==1.1.4

nest-asyncio
networkx
numexpr
numpy
openai
openpyxl==3.0.10

packaging
pandas
pandas-stubs
parso
pexpect
pickleshare
Pillow==9.4.0

pkgutil_resolve_name
platformdirs
plotly
prompt-toolkit
protobuf==3.20.3

psutil
ptyprocess
pure-eval
pyarrow==11.0.0

pycodestyle
pycparser
pydeck
Pygments
Pympler
pyOpenSSL
pyparsing
pyrsistent
PySocks
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
regex==2023.8.8

requests
responses
rich
safetensors==0.3.3

scikit-learn
scipy
six
smmap
stack-data
streamlit
sympy
tenacity
threadpoolctl
tokenizers==0.13.3

toml
toolz
torch==2.0.1

tornado
tqdm
traitlets
transformers
types-pytz
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
widgetsnbextension
xxhash
yarl
zipp